*{
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows:1fr 5fr ;

}
.dashboard{
    background: #297373;
    grid-row: 1/3;
}

.header{
    background: #1d4d4d;
    display: grid;
    grid-template-rows: 1fr 1fr;
}



.top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}


#search,#bell{
    width: 30px;
    filter:  invert(61%) sepia(77%) saturate(1320%) hue-rotate(325deg) brightness(103%) contrast(200%);
}



#profile1{
    width: 50px;
    border-radius: 25px;
}



.content{
    background: #222222;
}